.Product-item {
    width: 320px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.Product-title {
    padding: 10px;
    font-size: 20px;
}

.Add-product {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.Btn {
    width: 70px;
    height: 30px;
    font-size: 20px;
    background-color: grey;
    margin: 0 5px;
    border: none;
    border-radius: 10px;
}

.Btn:hover {
    cursor: pointer;
    background-color: lawngreen;
}
.Count{
    margin-bottom: 10px;
}