.Header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Title-shop{
    cursor: pointer;
}
.Input-search{
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
}